# Example of a `.gitattributes` file which reclassifies `.rb` files as Java:
* linguist-language=Java
platforms/* linguist-vendored=true
plugins/* linguist-vendored=true
public/* linguist-vendored=true